# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log
.logs_*

# Model outputs & checkpoints (büyük dosyalar)
finetune/outputs/
finetune/mlflow_tracking/
mlruns/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
